/* 5 425 4 768 3 1024 2 1280 1 +++ */
/* % vw vh fr */
/* если картинка занимает 100%ширины использовать width:100% */
/* calc() */
/* rem em не использовать */
/* object-fit повторить */
/* сгладить шрифты */
/* Тексты не имеют высоты */
/* имеются числа в названиях классов */
/* Используется булевый БЭМ-модификатор для подчёркивания одного из языков. */
/* для текстовых элементов лучше использовать max-width , нежели width*/
/* Абсолютное позиционирование допустимо использовать для фоновых
подложек под текстом, например в блоке cover */
/* затемняется при наведении на любую область блока cover , в том числе и на текстовые
элементы. Наведение реализовано через :hover */
/* Одинаковые свойства в разных медиазапросах не дублируются */

/*ПОСМОТРЕТЬ ЗАГОЛОВКИ НА РАСТЯГИВАНИЕ */

/* ПРОВЕРИТЬ РАБОТЫ ДРУГИХ СТУДЕНТОВ КАК ВЕДёТ Себя ТЕКСТ */

.header {
  padding: 16px 16px 48px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 28px 24px 48px 24px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 28px 48px 48px 48px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 28px 48px 56px 48px;
  }
}
