.lead__title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
  max-width: 288px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
  }
}
