.place__paragraph {
  margin: 0;
  padding: 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.place__paragraph:not(:last-child) {
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    padding-left: 0;
    padding-right: 0;
  }
  .place__paragraph:nth-child(2) {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;
    padding-bottom: 26px;
  }
}
