.footer__copyright {
  margin: 0;
  padding-top: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 0;
    line-height: 16px;
  }
}
