.lead__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}
@media screen and (min-width: 1280px) {
  .lead__image {
    max-width: 984px;
  }
}
