.intro {
  padding: 64px 16px;
}
@media screen and (min-width: 768px) {
  .intro {
    padding: 88px 24px;
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: calc((100% - 928px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .intro {
    padding-left: calc((100% - 984px) / 2);
  }
}
