.cover {
  padding-top: 66px;
  background: url(../../images/cover-trains.jpg);
  background-origin: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vw/1.6);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .cover {
   padding-top: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .cover {
    padding-top: 92px;
  }
}
@media screen and (min-width: 1280px) {
  .cover {
    width: 1184px;
    height: 740px;
  }
}

