.cover {
  background: url(../../images/cover-trains.jpg) no-repeat center / cover;
  background-origin: content-box;
  width: 100%;
  min-height: calc(100vw / 1.6);
  margin: 0 auto;
  position: relative;
}
/* Затемнение: */
.cover:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(42, 44, 47, 0.3);
  transition: background-color 0.5s;
  z-index: 1;
}
.cover:hover:after {
  background-color: rgb(42, 44, 47, 0.8);
}
@media screen and (min-width: 1280px) {
  .cover {
    width: 1184px;
    min-height: 740px;
  }
}
