.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    column-gap: 18px;
  }
}
