.place__url-heading {
  margin: 0px;
  padding-left: 16px;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .place__url-heading {
    padding-left: 0;
  }
}
